<?xml version='1.0' encoding='utf-8'?>
<widget id="com.test.www" version="1.9.0" versionCode="39" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Test</name>
    <preference name="orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="UIWebViewBounce" value="false" />
    <access origin="*" />
    <allow-navigation href="*" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="xwalkZOrderOnTop" value="true" />
        <preference name="android-minSdkVersion" value="16" />
    </platform>

    <plugin name="cordova-plugin-crosswalk-webview" />

    <plugin name="cordova-plugin-googlemaps" spec="https://github.com/phonegap-googlemaps-plugin/cordova-plugin-googlemaps.git">
        <variable name="API_KEY_FOR_ANDROID" value="xxxx" />
    </plugin>

</widget>
